@import "tailwindcss";

body {
    background-color: oklch(39.1% 0.09 240.876) !important;
    color: white;
}

.ps-sidebar-container,
.ps-menu-root,
.ps-submenu-content {
    background-color: #0c4a6e !important;
    /* Tailwind sky-900 */
    color: white !important;
}

/* Darker hover background for menu buttons */
.ps-menu-button:hover {
    background-color: #082f49 !important;
    /* sky-950 */
    color: white !important;
}